@charset "UTF-8";
	/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
	*/

		html, body, div, span, applet, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code,
		del, dfn, em, img, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var,
		b, u, i, center,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tbody, tfoot, thead, tr, th, td,
		article, aside, canvas, details, embed, 
		figure, figcaption, footer, header, hgroup, 
		menu, nav, output, ruby, section, summary,
		time, mark, audio, video {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
		}
		/* HTML5 display-role reset for older browsers */
		article, aside, details, figcaption, figure, 
		footer, header, hgroup, menu, nav, section {
			display: block;
		}
		body {
			line-height: 1;
		}
		ol, ul {
			list-style: none;
		}
		blockquote, q {
			quotes: none;
		}
		blockquote:before, blockquote:after,
		q:before, q:after {
			content: '';
			content: none;
		}
		table {
			border-collapse: collapse;
			border-spacing: 0;
		}

body{
	background-color: #0f162e;
	margin-top: 20px;
	margin-left: 10px;
}

#conteneur{

	font-family: Roboto, sans-serif;

	/*les background-image sur l'ensemble du site sont
	des gifs, car je souhaitais ajouter un léger effet
	de lumière parcourant les liaisons grises*/
	
	background-image: url(images/fond_steward_brand.gif); 
	background-repeat: no-repeat, repeat;
	background-size: cover;
	width: 1100px;
	height: 621px;
	margin:auto;

}





a:visited{
	color: white;
}


#a_hippies img{
	width: 29px;
	left: 955px;
	top: 80px;
	position: relative;


	-ms-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	transform: scale(1,1);

	-ms-transition: -ms-transform 1s ease;
	-webkit-transition: -webkit-transform 1s ease;
	transition: transform 1s ease;

}

#a_hippies img:hover{

	-ms-transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);

	-ms-transition: -ms-transform 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
}




#a_titre_hippies{
	position: relative;
	left: 820px;
	top: 80px;
	color: white;

}



#a_titre_hippies:hover+#p_hippies {
   display:block;

}

#p_hippies{
	display: none;
	position: absolute;
	width: 140px;
	font-size: 9.5px;
	text-align: justify;
	left: 940px;
	top:200px;
}





#a_catalog img{
	width:29px;
	left: 560px;
	top: 585px;
	position: relative;


	-ms-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	transform: scale(1,1);

	-ms-transition: -ms-transform 1s ease;
	-webkit-transition: -webkit-transform 1s ease;
	transition: transform 1s ease;

}

#a_catalog img:hover{

	-ms-transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);

	-ms-transition: -ms-transform 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
}


#a_titre_catalog{
	position: relative;
	left: 476px;
	top: 495px;
	color: white;
}


#a_well img{
	width:29px;
	left: -170px;
	top: 505px;
	position: relative;


	-ms-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	transform: scale(1,1);

	-ms-transition: -ms-transform 1s ease;
	-webkit-transition: -webkit-transform 1s ease;
	transition: transform 1s ease;

}

#a_well img:hover{

	-ms-transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);

	-ms-transition: -ms-transform 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
}

#a_titre_well{
	position: relative;
	color: white;
	left: -273px;
	top: 435px;

}

#a_wired img{
	width:29px;
	top: 189px;
	left: -370px;
	position: relative;

	transform-origin: 50% 50%;	

	-ms-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	transform: scale(1,1);

	-ms-transition: -ms-transform 1s ease;
	-webkit-transition: -webkit-transform 1s ease;
	transition: transform 1s ease;

}

#a_wired img:hover{

	-ms-transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);

	-ms-transition: -ms-transform 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;

}

#a_titre_wired{
	position: relative;
	color: white;
	left: -250px;
	top: 190px;

}
